<!doctype html>
<html>
<head>
    <title>회원가입</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheets/login_s.css">
</head>

<body class="align">

  <div class="site__container">

    <div class="grid__container">
        <h1>회원가입</h1>
        <hr>
      <form method="POST" class="form form--login" autocomplete="off">

        <div class="form__field">
          <label class="fontawesome-user" for="login__username" style="width: 50px;"><span class="hidden">ID</span></label>
          <input id="login__username" type="text" name="name" class="form__input" placeholder="이름" required>
        </div>

        <div class="form__field">
          <label class="fontawesome-info-sign" for="login__password" style="width: 50px;"><span class="hidden">Password</span></label>
          <input id="login__id" type="text" name="id" class="form__input" placeholder="아이디" oninput="IDSame();" required>
        </div>

        <div class="form__field">
          <label class="fontawesome-lock" for="login__password" style="width: 50px;"><span class="hidden">Password</span></label>
          <input id="login__password" type="password" name="pw" class="form__input" placeholder="비밀번호" oninput="PWSame();" required>
        </div>

        <div class="form__field">
          <label class="fontawesome-lock" for="login__password" style="width: 50px;"><span class="hidden">Password</span></label>
          <input id="login__repassword" type="password" name="repw" class="form__input" placeholder="비밀번호 확인" oninput="PWSame();" required>
        </div>

        <p id="error" class="text--center"></p>
        <p id="error1" class="text--center"></p>

        <div class="form__field">
          <input type="submit" id="button" value="회원가입">
        </div>

      </form>

      <script>
        var id_ok;
        var pw_ok;
        function PWSame() {
          if(login__password.value == login__repassword.value) {
              document.getElementById('error1').innerHTML="비밀번호가 일치합니다."
              document.getElementById('error1').style.color="#00BFFF";
              pw_ok = true;
          } else {
              document.getElementById('error1').innerHTML="비밀번호가 일치하지 않습니다."
              document.getElementById('error1').style.color="#FF0000";
              pw_ok = false;
          }
          if(id_ok && pw_ok) {
              document.getElementById('button').disabled = false;
              document.getElementById('button').style.background="#d44179";
          } else {
              document.getElementById('button').disabled = true;
              document.getElementById('button').style.background="#BDBDBD";
          }
        }

        function IDSame() {
          var id = document.getElementById('login__id').value;
          id_ok = true;
          document.getElementById('error').innerHTML="사용가능한 아이디입니다.";
          document.getElementById('error').style.color="#00BFFF";
          <%for(var i = 0; i < (users.length); i++) { %>
                if('<%=users[i].id%>' == id) {
                  var idcheck = false;
                } else {
                    document.getElementById('error').innerHTML="사용가능한 아이디입니다.";
                    document.getElementById('error').style.color="#00BFFF";
                    id_ok = true;
                }
                if(idcheck == false) {
                    document.getElementById('error').innerHTML="이미 사용중인 아이디입니다."
                    document.getElementById('error').style.color="#FF0000";
                    id_ok = false;
                }
                if(id_ok && pw_ok) {
                    document.getElementById('button').disabled = false;
                    document.getElementById('button').style.background="#d44179";
                } else {
                    document.getElementById('button').disabled = true;
                    document.getElementById('button').style.background="#BDBDBD";
                }
          <% } %> 
        }
      </script>

      <p class="text--center">이미 회원이신가요? <a href="/users/login">로그인</a> <span class="fontawesome-arrow-right"></span></p>

    </div>

  </div>


</body>
</html>

