.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

* :focus {
    box-shadow: none!important;
}

a {
    text-decoration: none!important;
    color: #212529;
}
a:hover {
    text-decoration: none!important;
    color: #212529!important;
}