body {
    background-color: #2c3338;
    color: #606468;
    font: 400 0.875rem/1.5 "Open Sans", sans-serif;
    margin: 0;
    min-height: 100%;
}
/* --------------- */

#pricing-table2 {
  margin: 50px auto 50px auto;

  width: 892px; /* total computed width = 222 x 3 + 226 */
}

button:hover {
  color: white!important;
}

/* 테이블 안 */
#pricing-table .plan {
  font: 1em 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;    
  background: #fff;      
  border: 1px solid #ddd;
  padding: 20px;
  float: left;
  position: relative; 
}

#pricing-table2 .plan2 {
  font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;    
  background: #fff;      
  border: 1px solid #ddd;
  padding: 20px;
  float: left;
  position: relative;
}

/* 모서리 둥글 */


/* 위에 쓰는 글씨  */
#pricing-table h3{
  font-size: 20px;
  font-weight: normal;
  padding: 20px;
  margin: -20px -20px 0px -20px;
  /* 색 구별 */
  background-color: #eee;
  background-image: -moz-linear-gradient(#fff,#eee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -o-linear-gradient(#fff, #eee);
  background-image: -ms-linear-gradient(#fff, #eee);
  background-image: linear-gradient(#fff, #eee);
}


#pricing-table ul{
  padding: 0;
  list-style: none;
}

#pricing-table li{
  padding: 10px 0 0 0;
}

/* --------------- */

/* 버튼 */
#pricing-table .signup{
  position: relative;
  padding: 8px 20px;
  margin: 10px 0 0 0;  
  color: #fff;
  font: bold 14px Arial, Helvetica;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;       
  background-color: #ea4c88;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;     
}

#pricing-table .signup:hover{
  background-color: #d44179;
}

/* --------------- */
.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear	{
  zoom:1
}	
.pic{
  padding-top: 3%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

* :focus {
    box-shadow: none!important;
}
.hover {
  text-decoration: none!important;
  color: #212529;
}
.hover:hover {
  text-decoration: none!important;
  color: #212529!important;
}
html, body {
    overflow-x:hidden;
}